.header {
    background-image: url('../assets/images/homepage/hero-bg-desktop@2x.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    height: 95vh;
    position: relative;


    & h2 {
        padding-top: 60px;
        font-size: 3em;
    }

    & .main {
        font-size: 64px;
    }

    & .desc {
        font-size: 18px;
        margin-bottom: 60px;
    }
}